.header {
    height: 100%;
}

// Banner ---------------------------------------------------
.banner {
    height: 54px;
    width: 100%;
    background-image: url("../../public/images/discount-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}